


/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	h1, h2, h3, h4, h5, h6
	{
		margin: 0 0 0.5em 0;
	}

	h2
	{
		font-size: 1.65em;
	}

		h2.major
		{
			font-size: 1.65em;
			text-align: center;
			margin: 0 0 3em 0;
		}

			h2.major span
			{
				top: -0.775em;
				padding: 0 1.5em 0 1.5em;
			}

	h3
	{
		font-size: 1.25em;
	}

	h4
	{
		font-size: 1.25em;
	}

	/* Button */
	
		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			font-size: 1.25em;
			padding: 0.85em 1.85em;
		}

			input[type="button"].big,
			input[type="submit"].big,
			input[type="reset"].big,
			.button.big
			{
				font-size: 1.65em;
				padding: 0.85em 1.85em;
			}
	
	/* List */

		ul
		{
		}	
	
			ul.actions
			{
				text-align: center;
				margin: 2em 0 0 0;
			}
	
	/* Box */

		.box
		{
		}

			.box.highlight
			{
			}
			
				.box.highlight .special
				{
					margin: 0 0 4em 0;
				}

				.box.highlight h2
				{
					font-size: 3em;
					margin: 0 0 0.75em 0;
				}

				.box.highlight header > p
				{
					font-size: 1.65em;
					margin: 0 0 1.5em 0;
				}

			.box.feature
			{
				text-align: center;
			}
			
			.box.post
			{
			}

				.box.post header
				{
					margin: 0 0 2.5em 0;
				}

				.box.post h3
				{
					font-size: 3em;
					margin: 0 0 0.5em 0;
				}

				.box.post header > p
				{
					font-size: 1.65em;
					margin: 0 0 0.5em 0;
				}

				.box.post ul.meta
				{
					margin: 0 0 0.5em 0;
				}
			
			.box.post-summary
			{
			}
			
				.box.post-summary h3
				{
					line-height: 1em;
					margin: 0 0 0.75em 0;
				}

				.box.post-summary .meta
				{
					margin: 0;
					line-height: 1em;
				}

			.box.page-content
			{
			}

				.box.page-content header
				{
					margin: 0 0 2.5em 0;
				}

				.box.page-content h2
				{
					font-size: 3em;
					margin: 0 0 0.5em 0;
				}

				.box.page-content header > p
				{
					font-size: 1.65em;
					margin: 0 0 0.5em 0;
				}

				.box.page-content ul.meta
				{
					margin: 0 0 0.5em 0;
				}


/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#banner-wrapper
	{
		padding: 45px 0;
	}
	
	#main-wrapper
	{
		border-top-width: 35px;
		border-bottom-width: 10px;
	}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{

		background: #ffffff;
		background-image:		url('../images/logomoveevent.png'), 	url('../images/bulle3.png');
		background-position:	20% 15%, 90% 15%;
		background-repeat:	no-repeat;
		background-size:			auto,						20%;
		z-index: 1;
		
		padding: 200px 2em 0;
		margin: 0 auto;
			
	}


	
	
	#header .logo
		{ float: right;
		
			text-align: right;
			
	z-index: 2;
	
	bottom: 10px;
    right: 20px;
		}





/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/


		#banner h2
		{
			font-size: 2.75em;
			margin: 0 0 0.75em 0;
		}
		



/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding: 6em 0 6em 0;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		text-align: center;
		padding: 8px 0 0 0;
	}
	
		#footer h2.major
		{
			margin:  30px 0 1px 0;
		}		

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		margin: 30px 150px 50px 150px;
	}